<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Welcome home</h1>
    <h1><%= result.english %></h1>
    <h1><%= result.hindi %></h1>
    <h1><%= result.urdu %></h1>
    <h1><%= result.bengali %></h1>
    <h1><%= result.punjabi %></h1>
    <h1><%= result.marathi %></h1>
    <h1><%= result.gujarati %></h1>
    <h1><%= result.nepali %></h1>

</body>

</html>